/*-----CSS RESET-----*/
* {padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  font-family: 'Merriweather Sans', sans-serif;
}
p {
  font-size: 1rem;
  padding-top: 1px;
  line-height: 1.5;
  color: black;
  text-align: left;
}
h1{
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
Span {
  color: #FFBE00;
}
.padded-10,.grid .padded-10 {
  padding: 10% 9%;
}
.right {
  text-align: right;
}
/*Top banner*/
.top-banner {
  min-height: 100vh;
  background-image: url("../images/gilles-lambert-249996.jpg");
  background-attachment: fixed;
  justify-content: center;
  background-size: cover;
  background-position: center;
  padding: 5%;
  text-align: center;
  color: white;
}
.special-p {
  color: white;
  text-align: center;
}
/*Grid section*/
.info-in-box {
  height: 100vh;
  color: black;
  text-align: left;
}
.info-in-box span {
  color: #FFBE00;
}
.top-left-photo {
  height: 100vh;
  background-image: url("../images/charles-deluvio-351207.jpg");
  background-size: cover;
  background-position: center;
}
.bottom-right-photo {
  height: 100vh;
  background-image: url("../images/rhema-kallianpur-275251.jpg");
  background-size: cover;
  background-position: center;
}
/*Tagline Banner*/
.tagline-banner {
  background-image: url("../images/joanna-kosinska-129039.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
  text-align: center;
  color: black;
}
.tagline-banner h2, .tagline-banner span {
  font-size: 2.5rem;
}
.tagline-banner p {
  text-align: center;
}
.tagline-banner h2 span {
  color: white;
}
/* Quote */
.quote-section p {
  color: lightgrey;
  text-align: right;
}
.quote-section div {
  padding: 10%;
}
.quote-section blockquote {
  text-align: center;
  font-size: 1.5rem;
  color: darkgrey;
}
.col-1.left {
  text-align: right;
}
.col-1 {
  font-size: 2rem;
  color: darkgrey;
}

/* Footer*/
footer {
background-color: black;
min-height: 75vh;
}
.lets-connect, .form {
  padding-left: 10%;
  padding-right: 10%;
}
input, textarea {
  width: 70%;
  padding: 2%;
  margin: 2% auto;
  display: block;
}

.lets-connect h2{
  color: white;
  text-align: center;
  font-weight: bold;
}
.lets-connect p {
  color: white;
  text-align: left;
  font-size: .8rem;
}
.button {
  background-color: #FFBE00;
  color: white;
}
/* Media Queries*/

@media all and (max-width:768px){
  .mobile-flip {
    flex-direction: column-reverse;
  }
}
